<div class="banner">
    <div class="navbar">
      <ul>
        <li><a routerLink="/espace-perso">Espace Personnel</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">S'inscrire</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>Bienvenue sur <span class="orange">Benvoplanify</span></h1>
      <p>Organisez votre semaine facilement et efficacement.</p>
      <p>Nombre de bénévoles actifs : {{ nbBenevoles }}</p>
      <div>
        <button type="button" routerLink="/login">Login</button>
        <button type="button" routerLink="/register">S'inscrire</button>
      </div>
    </div>
  </div>